{% extends 'base.html.twig' %}
{% block title %}Chats{% endblock %}

{% block body %}

    <section id="banner-chats">
        <ul>
            <li>
                <a href="#">
                    <h4>DiviQueen</h4>
                    <p>Es que es muy fuerte</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>Marcus45</h4>
                    <p>Que taal?</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>Leil00</h4>
                    <p>Me alegro por ti ^^</p>
                </a>
            </li>
        </ul>
    </section>

{% endblock %}