{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
                <br><h1>New Content</h1>

                {% for post in posts %}
                    {{ include('post/_post.html.twig') }}
                {% endfor %}

            {% include 'partials/_new_post_button.html.twig' %}
            {% include 'post/index.html.twig' %}

{% endblock %}