<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <img src="logo.png" class="sidebar-logo" alt="Logo">
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="{{ path('app_inicio') }}">Home</a></li>
                <li><a href="{{ path('explore') }}">Explore</a></li>
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <li><a href="{{ path('chats') }}">Chats</a></li>
                <li><a href="#">Notification</a></li>
                <li><a href="#">Report an error</a></li>
            </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Copyright. Registered Trademark. All rights are registered and patented.</p>
        </footer>
    </div>
</div>