<li>
    {% if chat.userFrom.id == app.user.id %}
        <p style="text-align: end">{{ chat.content }} · {{ chat.timeSince }}</p>
    {% endif %}

    {% if chat.userTo.id == app.user.id %}
        <p>{{ chat.content }} · {{ chat.timeSince }}</p>
    {% endif %}
</li>