<li>
    {% if chat.userFrom.id == app.user.id %}
        <div class="chat-message my-message">
            <p>{{ chat.content }} · <span class="chat-time">{{ chat.timeSince }}</span></p>
        </div>
    {% endif %}

    {% if chat.userTo.id == app.user.id %}
        <div class="chat-message their-message">
            <p>{{ chat.content }} · <span class="chat-time">{{ chat.timeSince }}</span></p>
        </div>
    {% endif %}
</li>
