<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="newCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCommentModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(commentForm, {'attr': {'id': 'commentForm'}}) }}
                {{ form_row(commentForm.content) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary submit-comment" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-comment">Create</button>
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>
</div>